@import "tailwindcss";


@keyframes cinematic-flicker {
  0% { opacity: 1; }
  5% { opacity: 0.85; }
  10% { opacity: 1; }
  15% { opacity: 0.9; }
  20% { opacity: 1; }
  55% { opacity: 0.95; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}

.flicker {
  animation: cinematic-flicker 4s infinite;
}